.activity-planner-container {
  background: #fff;
  max-width: 500px;
  margin: 2rem auto;
  padding: 2rem 2.5rem;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}
@media (prefers-color-scheme: dark) {
  .activity-planner-container {
    background: rgb(33,41,54);
    color: #ffffff;
  }
  .activity-planner-container h2{
    text-align: center;
    font-size: 30px;
    margin-bottom:20px;
  }
  

  .destination-input input, .add-activity input{
    background-color: rgb(57,65,80);
    border-radius: 12px;
    width:90%;
  }
  
  .add-activity button{
    background-color: rgb(76,161,84);
    color:#fff;
    border-radius: 12px;
    margin-top:15px;
  }
}

.destination-input, .add-activity {
  margin-bottom: 1rem;
}

.add-activity input, .destination-input input {
  margin-left: 0.5rem;
  padding: 0.5rem;
}

.add-activity button {
  margin-left: 0.5rem;
  padding: 0.4rem 0.8rem;
}

.activity-list {
  list-style: none;
  padding-left: 0;
}

.activity-list li {
  display: flex;
  align-items: center;
  margin-bottom: 0.8rem;
}

.activity-list button {
  margin-left: 0.7rem;
  padding: 0.2rem 0.7rem;
  font-size: 0.9rem;
}