/* Navbar.css */
.navbar {
  background:#28a745;
  color: rgb(124, 238, 155);
  padding: 1rem 2rem;
  display: flex;
  gap: 2rem;
  position: fixed; 
  left: 0; 
  top: 0;
  width: 100%;

}
.main-content {
  padding-top: 80px;
}

.navbar a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-weight: bold;
}

.navbar a:hover {
  color: #ffc107;
}
