@tailwind base;
@tailwind components;
@tailwind utilities;

/* Import fonts */
@import url("https://fonts.googleapis.com/css2?family=Manrope&family=Montserrat&family=Mulish:ital@1&family=Poppins&family=Raleway&family=Roboto&display=swap");

/* Set base styles for the entire application */
body, html, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Manrope', sans-serif;
  color: theme('colors.gray.900'); /* Default text color */
  background-color: theme('colors.gray.100'); /* Default background color */
  transition: background-color 0.3s ease, color 0.3s ease;
}

html.dark {
  color: theme('colors.gray.100'); /* Dark mode text color */
  background-color: theme('colors.gray.900'); /* Dark mode background color */
}

/* Simple scrollbar for better aesthetics on all browsers */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: theme('colors.gray.200');
}

::-webkit-scrollbar-thumb {
  background: theme('colors.gray.400');
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: theme('colors.gray.500');
}

/* Line clamp utility for text truncation */
.line-clamp-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

/* Custom bounce animation for scroll to top button 
@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  30% {
    transform: translateY(-8px);
  }
  60% {
    transform: translateY(4px);
  }
  100% {
    transform: translateY(0);
  }
}
*/
/* Responsive adjustments for mobile 
@media (max-width: 600px) {
  .scroll-to-top-btn {
    bottom: 20px;
    right: 15px;
    padding: 12px 16px;
    font-size: 18px;
  }
}*/

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.animate-fadeIn {
  animation: fadeIn 0.5s ease-in-out;
}