@tailwind base;
@tailwind components;
@tailwind utilities;

/* Import fonts */
@import url("https://fonts.googleapis.com/css2?family=Manrope&family=Montserrat&family=Mulish:ital@1&family=Poppins&family=Raleway&family=Roboto&display=swap");

/* Set base styles for the entire application */
body, html, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Manrope', sans-serif;
  color: theme('colors.gray.900'); /* Default text color */
  background-color: theme('colors.gray.100'); /* Default background color */
  transition: background-color 0.3s ease, color 0.3s ease;
}

/* Dark mode global styles */
html.dark {
  color: theme('colors.gray.100'); /* Dark mode text color */
  background-color: theme('colors.gray.900'); /* Dark mode background color */
}

/* Simple scrollbar for better aesthetics on all browsers */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: theme('colors.gray.200');
}

::-webkit-scrollbar-thumb {
  background: theme('colors.gray.400');
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: theme('colors.gray.500');
}
